/* booking-form.component.css */

/* Body styling */
body {
    background-image: url('./choti.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  /* Container styling */
  .container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha value for background opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adjust the alpha value for box shadow opacity */
  }
  
  /* Form styling */
  form {
    display: flex;
    flex-direction: column;
  }
  
  /* Input field styling */
  input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Button styling */
  button {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Button hover effect */
  button:hover {
    background-color: #45a049;
  }
  
  /* Link styling */
  a {
    color: #333;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
  }
  
  /* Link hover effect */
  a:hover {
    text-decoration: underline;
  }
  